# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VSCode/IDE files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Python misc
*.log

# Если будут .db и результаты
*.sqlite3
*.db

# Секреты, если есть
.env
